*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #1A3455;
}
li {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}
em {
  font-style: normal;
}
button {
  cursor: pointer;
  border: none;
}
.pink {
  background-color: #F2526E;
  color: #fff;
}
.blue {
  background-color: #00CED0;
  color: #fff;
}
.text-orange {
  color: #FF8B60;
}
.text-pink {
  color: #F2526E;
}
a.pink,
button.pink {
  &:hover,
  &:focus {
    background-color: rgb(240, 106, 128);
  }
}
header {
  padding: 14px 0;
  h1 {
    font-size: 28px;
    display: flex;
    flex-direction: column;
    span {
      font-size: 14px;
    }
  }
}
.st-inner {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.st-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 48px;
  font-size: 20px;
  color: #fff;
  background-color: #F2526E;
  border-radius: 10px;
  border: 2px solid #fff;
}
.st-back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 48px;
  font-size: 20px;
  background-color: #ddd;
  border-radius: 10px;
  margin-right: 20px;
  &:hover,
  &:focus {
    background-color: rgb(236, 233, 233);
  }
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1A3455;
  color: #fff;
  padding: 35px 0;
  h1 {
    font-size: 28px;
    font-weight: normal;
  }
  i {
    font-size: 14px;
  }
}
.st-confirm {
  width: 580px;
  margin: 60px auto;
  h2 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 32px;
  }
  dl {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  dt {
    color: #FF8B60;
    font-weight: bold;
    width: 200px;
    margin-right: 40px;
  }
  dd {
    img {
      width: 200px;
    }
  }
}
.st-confirm__button {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
